<!DOCTYPE html>
<html>
	<head>
		<title>OwnBet</title>
		<link rel="stylesheet" href="./css/generic.css" />
		<link rel="stylesheet" href="./css/header.css" />
		<link rel="stylesheet" href="./css/list.css" />
	</head>
	<body>
		<section class="content-container">
			<header class="header">
				<nav class="navbar">
					<ul class="navbar-list">
						<li>
							<a href="/upcoming">Upcoming matches</a>
						</li>
						<div class="vl"></div>
						<li>
							<a href="/results">Results</a>
						</li>
						<div class="vl"></div>
						<li>
							<a href="/leaderboard"><b>Leaderboard</b></a>
						</li>
					</ul>
				</nav>
				<section class="user-info">
					<p><%= username %></p>
					<button class="standard-btn" type="submit">Log out</button>
				</section>
			</header>

			<section class="list-container">
				<div class="list-item">
					<div class="player-col">
						<p class="rank">1.</p>
						<p class="player-name">Chris P. Bacon</p>
					</div>
					<div class="point-col">
						<p>7p</p>
					</div>
				</div>
			</section>
		</section>
	</body>
</html>
