<%- include('header') -%> <%- include('navbar') -%>
<section class="list-container">
	<div class="list-item">
		<div class="first-col">
			<p class="teams">Sevilla - Man City</p>
			<p class="date">2020. 09. 09.</p>
		</div>
		<div class="result-col">
			<p>Result:</p>
			<p>1</p>
			<p class="input-separator">-</p>
			<p>1</p>
		</div>
		<div class="tip-col">
			<p>Your tip:</p>
			<p>1</p>
			<p class="input-separator">-</p>
			<p>1</p>
		</div>
		<div class="point-col"><p>+3p</p></div>
	</div>
</section>
<%- include('footer') -%>
