.header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 3rem;
	justify-content: space-between;
}
.user-info {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	max-width: 100%;
	justify-content: space-between;
	align-items: center;
}
.user-info p {
	margin-right: 1rem;
}
.navbar {
	display: flex;
	flex-direction: row;
}
.navbar-list {
	margin-top: 0;
	display: flex;
	flex-direction: row;
	padding: 0;
	flex-wrap: wrap;
	max-width: 100%;
	width: 600px;
	justify-content: space-between;
}
.navbar-list li {
	font-size: x-large;
}
.vl {
	border-left: 6px solid var(--cl-grey-dark);
}
