.list-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 3rem;
}
.list-item {
	display: flex;
	flex-direction: row;
	width: 600px;
	max-width: 97%;
	height: 50px;
	background-color: var(--cl-grey-dark);
	border-radius: 15px;
	color: white;
	padding-left: 1rem;
	padding-right: 1rem;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}
.list-item p {
	color: white;
	margin: 0;
}
.teams {
	font-weight: bold;
}
.first-col {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: start;
	width: 200px;
}
.last-col {
	margin-right: 15px;
	display: flex;
	flex-direction: row;
}
.last-col * {
	margin: 5px;
}
.list-item-btn {
	height: 25px;
	width: 100px;
	color: black;
	border-radius: 15px;
	cursor: pointer;
	background-color: white;
	font-size: 12px;
	font-weight: normal;
	margin-left: 0.5rem;
	padding: 0;
	border: 0;
}
.input-col {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.input-col input {
	width: 1.2rem;
	height: 1rem;
	border-radius: 15px;
	border: 0;
	text-align: center;
	font-weight: bold;
	font-size: medium;
}
.input-col p {
	margin: 1rem;
}
.result-col {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	text-align: start;
	font-weight: bold;
	width: 100px;
}
.tip-col {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	text-align: start;
	font-weight: bold;
	width: 100px;
}
.point-col p,
.player-col p {
	font-weight: bold;
}
.player-col {
	display: flex;
	flex-direction: row;
}
.rank {
	margin-right: 0.5rem !important;
}
